@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}h1{
    font-size: 50px;
    font-family: "Caveat";
    color: #017A1C;   
}
h2{
    font-size: 60px;
    font-family: "Bebas Neue";
}
h3{
    font-size: 20px;
    color: #017A1C;
}
.imgAzucar:hover{
    transform: translate(10px,10px) scale(1.05);
    transition: 1s ;
}
.imgMaiz:hover{
    transform: translate(-10px,10px) scale(1.05);
    transition: 1s ;
}
.imgAlimento:hover{
    transform: translate(10px,-10px) scale(1.05);
    transition: 1s ;
}
.imgSnacks:hover{
    transform: translate(-10px,-10px) scale(1.05);
    transition: 1s ;
}
.Contacto{
    border: solid 1px #017A1C;
    border-radius: 15px;
    background-color:gainsboro;
}
.btn{
    background-color:#017A1C ;
    border-radius: 15px;
    color: white;    
}
.btn:hover{
    box-shadow: 9px 7px 16px 6px rgba(0,0,0,0.54);
    background-color: #2D9142;
    border: 1px solid #2D9142;
}
.footer{
    background-color: #017A1C;
    color: white;
    padding: 10px;
    height: 80px;
    display: flex;
    align-items: center;
}
@media(max-width:576px){

    .imgAzucar:hover{
        transform: translate(0px);
    }
    .imgMaiz:hover{
        transform: translate(0px);
    }
    .imgAlimento:hover{
        transform: translate(0px);
    }
    .imgSnacks:hover{
        transform: translate(0px);
    }
}    